.contact{
    background-color: rgb(64, 24, 178);
    height: 350px;
    width: 100%;
    position: relative;
}
.text,.mail,.mobile{
    color: white;

}
.text{
    position: absolute;
    font-family: 'Lexend', sans-serif;
    font-size: 45px;
    font-weight: bold;
    top: 150px;
    left: 280px;
}
.mail{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    position: absolute;
    top: 250px;
    left: 500px;
    cursor: pointer;
}
.mobile{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    position: absolute;
    top: 250px;
    right: 495px;
    cursor: pointer;
}
.phone-logo{
    position: absolute;
    top: 250px;
    right: 590px;
}
.mail-logo{
    position: absolute;
    top: 250px;
    left: 470px;
}